

<div class = 'profile-container'>

  <h2>Profile Page</h2>
<!-- Not working:  -->
  <h3>Welcome, <%= @user.username %></h3>
  <h3>Company name: <%= @company.company_name %></h3>
  <h3>Website: <%= @company.company_url %></h3>
  <h3>Phone No: <%= @company.phone_number %></h3>


</div>