

  <p>Email: <input type='text' name="user[email]"></p>
  <p>Username: <input type='text' name="user[username]"></p>
  <p>Password: <input type='password' name="user[password]"></p>
  <p><input class="button" type='submit' value='Sign Up'></p>