
<div id="advertise-title">
  <h3>Sign Up Here or <a href="/sessions/new">Sign In</a> to List a New Sale: </h3>
</div>
<div id="advertise-body">

    <%= erb :_errors %>

  <form id='lister-sign-up' action='/users' method ='post'>

    <%= erb :_sign_up %>

  </form>
</div>

